In [11]:
import pandas as pd

## Read Refugee.csv

In [15]:
df_refugee = pd.read_csv("/src/data/refugee.csv")

FileNotFoundError: File b'/data/refugee.csv' does not exist

In [ ]:
df_refugee

In [ ]:
df_refugee.rename(columns = {'Country / territory of asylum/residence':'country'}, inplace=True)

In [ ]:
df_refugee

In [ ]:
df_refugee.shape

## delete unknown Orgin countries row

In [ ]:
df_refugee = df_refugee[df_refugee['Origin'] != 'Various/Unknown']

In [ ]:
df_refugee.dtypes

In [ ]:
df_refugee.shape

In [ ]:
df_refugee.head()

In [ ]:
df_track = df_refugee.groupby('Year').country.value_counts().reset_index(name='numbers_origin')

In [ ]:
df_track

In [3]:
df_refugee_track = df_track.groupby('Year').numbers_origin.sum().reset_index(name = 'track_number')

NameError: name 'df_track' is not defined

In [2]:
df_refugee_track

NameError: name 'df_refugee_track' is not defined

In [371]:
df_refugee_track.to_csv('refugee_track_number.csv',index=False)

## How many people do each country take each year?

In [335]:
df_refugee_year = df_refugee.groupby(['Year','Origin'])['Refugees (incl. refugee-like situations)'].sum().reset_index()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [324]:
df_refugee_year.head()

,Year,Refugees (incl. refugee-like situations),country,Origin
0,1975,100,Kenya,Namibia
1,1975,109882,France,Various/Unknown
2,1975,110,ZambiaZambiaZambia,CongoEthiopiaSomalia
3,1975,11000,Ethiopia,Sudan
4,1975,110540,United Rep. of Tanzania,Burundi

In [325]:
df_refugee_year.shape

(23927, 4)

In [326]:
df_refugee_year = df_refugee_year[df_refugee_year.Origin != 'Various/unknown']

In [328]:
df_refugee_year.shape

(23927, 4)

In [329]:
df_refugee_year

,Year,Refugees (incl. refugee-like situations),country,Origin
0,1975,100,Kenya,Namibia
1,1975,109882,France,Various/Unknown
2,1975,110,ZambiaZambiaZambia,CongoEthiopiaSomalia
3,1975,11000,Ethiopia,Sudan
4,1975,110540,United Rep. of Tanzania,Burundi
5,1975,11900,Italy,Various/Unknown
6,1975,120,MoroccoTurkeyTurkeyZambia,Various/UnknownSerbia and Kosovo (S/RES/1244 (...
7,1975,122000,Germany,Various/Unknown
8,1975,130,Ghana,Various/Unknown
9,1975,140,Morocco,Spain
10,1975,1420,Thailand,Viet Nam
11,1975,14400,Argentina,Chile
12,1975,14500,Mozambique,Zimbabwe
13,1975,150,BotswanaEthiopiaPortugal,NamibiaVarious/UnknownVarious/Unknown
14,1975,153000,United Kingdom,Various/Unknown
15,1975,16000,Spain,Various/Unknown
16,1975,16349,Canada,Various/Unknown
17,1975,16788,Belgium,Various/Unknown
18,1975,1790,Botswana,Angola
19,1975,18830,Thailand,Cambodia
20,1975,190,BotswanaBotswanaLesotho,LesothoSouth AfricaSouth Africa
21,1975,20000,AustriaAlgeriaSweden,Various/UnknownWestern SaharaVarious/Unknown
22,1975,2090,Greece,Various/Unknown
23,1975,210,Zambia,Uganda
24,1975,2125,Denmark,Various/Unknown
25,1975,2300,United Rep. of Tanzania,Uganda
26,1975,23100,United Rep. of Tanzania,Rwanda
27,1975,24000,Dem. Rep. of the Congo,Burundi
28,1975,24300,Dem. Rep. of the Congo,Rwanda
29,1975,26300,Serbia and Kosovo (S/RES/1244 (1999)),Various/Unknown
...,...,...,...,...
23897,2017,94,ArgentinaAustraliaCanadaDenmarkEcuadorIreland,UkraineSaudi ArabiaAntigua and BarbudaEthiopia...
23898,2017,944,United States of America,Mauritania
23899,2017,948,United States of America,Ecuador
23900,2017,95,CanadaCanadaGermanyItalyNigeriaTurkey,Burkina FasoBelarusKazakhstanNepalCameroonEthi...
23901,2017,951142,Iran (Islamic Rep. of),Afghanistan
23902,2017,954,Italy,Palestinian
23903,2017,9541,Chad,Nigeria
23904,2017,959,Bulgaria,Stateless
23905,2017,96,CanadaFinlandPapua New Guinea,PhilippinesSerbia and Kosovo (S/RES/1244 (1999...
23906,2017,960,Belgium,Iran (Islamic Rep. of)
23907,2017,963,Italy,Togo
23908,2017,967,Canada,Saint Lucia
23909,2017,9695,Togo,Ghana
23910,2017,97,AustraliaGermanyUnited States of America,BahrainCubaBenin
23911,2017,974,Malaysia,Sri Lanka
23912,2017,976,Indonesia,Somalia
23913,2017,98,CongoCyprusRep. of Korea,BurundiEgyptBangladesh
23914,2017,98041,Malaysia,Myanmar
23915,2017,982,Mozambique,Burundi
23916,2017,983,GermanySweden,AlbaniaPalestinian
23917,2017,9858,United Kingdom,Afghanistan
23918,2017,986,Australia,Zimbabwe
23919,2017,99,BelgiumBrazilCanadaCzech Rep.NorwayPolandTogo,LebanonAfghanistanAngolaUzbekistanPakistanAfgh...
23920,2017,992,Australia,Libya
23921,2017,992127,Lebanon,Syrian Arab Rep.
23922,2017,9950,Poland,Russian Federation
23923,2017,996,Switzerland,Viet Nam
23924,2017,998,Norway,Russian Federation
23925,2017,9987,United States of America,Ethiopia
23926,2017,99982,Thailand,Myanmar

In [236]:
# df_refugee = df_refugee.fillna(0)

In [237]:
# df_refugee.drop(['Returned refugees'], axis=1,inplace=True)

In [238]:
# df_refugee['Internally displaced persons (IDPs)']= df_refugee['Internally displaced persons (IDPs)'].astype(int)

In [239]:
# col_list= list(df_refugee)
# col_list.remove('Year')
# col_list

In [240]:
# df_refugee['total_refugee']=df_refugee.loc[:,col_list].sum(axis=1)

In [262]:
df_coords = pd.read_csv("coordinates.csv")

In [263]:
df_coords.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average),Icon
0,Albania,AL,ALB,8,41.0000,20.0,NaN
1,Algeria,DZ,DZA,12,28.0000,3.0,NaN
2,American Samoa,AS,ASM,16,-14.3333,-170.0,NaN
3,Andorra,AD,AND,20,42.5000,1.6,NaN
4,Angola,AO,AGO,24,-12.5000,18.5,NaN

In [264]:
df_coords = df_coords.drop(['Alpha-2 code', 'Alpha-3 code', 'Numeric code','Icon'], axis=1)

In [244]:
df_coords.head()

          Country  Latitude (average)  Longitude (average)
0         Albania             41.0000                 20.0
1         Algeria             28.0000                  3.0
2  American Samoa            -14.3333               -170.0
3         Andorra             42.5000                  1.6
4          Angola            -12.5000                 18.5

In [265]:
coords_new = df_refugee.merge(df_coords, left_on='country', right_on='Country', how='outer')

In [266]:
coords_new.head()

,country,Origin,Year,Value,Country,Latitude (average),Longitude (average)
0,Canada,Serbia and Kosovo: S/RES/1244 (1999),1975.0,24,Canada,60.0,-95.0
1,Canada,Lao People's Dem. Rep.,1975.0,17,Canada,60.0,-95.0
2,Canada,Viet Nam,1975.0,3262,Canada,60.0,-95.0
3,Canada,Russian Federation,1975.0,515,Canada,60.0,-95.0
4,Canada,Bulgaria,1975.0,14,Canada,60.0,-95.0

In [268]:
coords_new.drop(['Country'], axis=1, inplace=True)

In [269]:
coords_new.rename(columns={'Latitude (average)':'from_lat', 'Longitude (average)':'from_long'}, inplace=True)

In [270]:
coords_new.head()

,country,Origin,Year,Value,from_lat,from_long
0,Canada,Serbia and Kosovo: S/RES/1244 (1999),1975.0,24,60.0,-95.0
1,Canada,Lao People's Dem. Rep.,1975.0,17,60.0,-95.0
2,Canada,Viet Nam,1975.0,3262,60.0,-95.0
3,Canada,Russian Federation,1975.0,515,60.0,-95.0
4,Canada,Bulgaria,1975.0,14,60.0,-95.0

In [272]:
coords_new = coords_new.merge(df_coords, left_on='Origin', right_on='Country', how='outer')

In [274]:
coords_new

,country,Origin,Year,Value,from_lat,from_long,Country,Latitude (average),Longitude (average)
0,Canada,Serbia and Kosovo: S/RES/1244 (1999),1975.0,24,60.0,-95.0,NaN,NaN,NaN
1,Canada,Serbia and Kosovo: S/RES/1244 (1999),1976.0,13,60.0,-95.0,NaN,NaN,NaN
2,Canada,Serbia and Kosovo: S/RES/1244 (1999),1977.0,15,60.0,-95.0,NaN,NaN,NaN
3,Canada,Serbia and Kosovo: S/RES/1244 (1999),1978.0,2,60.0,-95.0,NaN,NaN,NaN
4,Canada,Serbia and Kosovo: S/RES/1244 (1999),1979.0,4,60.0,-95.0,NaN,NaN,NaN
5,Canada,Serbia and Kosovo: S/RES/1244 (1999),1980.0,2,60.0,-95.0,NaN,NaN,NaN
6,Canada,Serbia and Kosovo: S/RES/1244 (1999),1982.0,3,60.0,-95.0,NaN,NaN,NaN
7,Canada,Serbia and Kosovo: S/RES/1244 (1999),1983.0,53,60.0,-95.0,NaN,NaN,NaN
8,Canada,Serbia and Kosovo: S/RES/1244 (1999),1984.0,2,60.0,-95.0,NaN,NaN,NaN
9,Canada,Serbia and Kosovo: S/RES/1244 (1999),1985.0,5,60.0,-95.0,NaN,NaN,NaN
10,Canada,Serbia and Kosovo: S/RES/1244 (1999),1987.0,5,60.0,-95.0,NaN,NaN,NaN
11,Canada,Serbia and Kosovo: S/RES/1244 (1999),1988.0,5,60.0,-95.0,NaN,NaN,NaN
12,Canada,Serbia and Kosovo: S/RES/1244 (1999),1989.0,10,60.0,-95.0,NaN,NaN,NaN
13,Canada,Serbia and Kosovo: S/RES/1244 (1999),1990.0,15,60.0,-95.0,NaN,NaN,NaN
14,Canada,Serbia and Kosovo: S/RES/1244 (1999),1991.0,11,60.0,-95.0,NaN,NaN,NaN
15,Canada,Serbia and Kosovo: S/RES/1244 (1999),1992.0,26,60.0,-95.0,NaN,NaN,NaN
16,Canada,Serbia and Kosovo: S/RES/1244 (1999),1993.0,90,60.0,-95.0,NaN,NaN,NaN
17,Canada,Serbia and Kosovo: S/RES/1244 (1999),1994.0,290,60.0,-95.0,NaN,NaN,NaN
18,Canada,Serbia and Kosovo: S/RES/1244 (1999),1995.0,367,60.0,-95.0,NaN,NaN,NaN
19,Canada,Serbia and Kosovo: S/RES/1244 (1999),1996.0,336,60.0,-95.0,NaN,NaN,NaN
20,Canada,Serbia and Kosovo: S/RES/1244 (1999),1997.0,461,60.0,-95.0,NaN,NaN,NaN
21,Canada,Serbia and Kosovo: S/RES/1244 (1999),1998.0,379,60.0,-95.0,NaN,NaN,NaN
22,Canada,Serbia and Kosovo: S/RES/1244 (1999),1999.0,384,60.0,-95.0,NaN,NaN,NaN
23,Canada,Serbia and Kosovo: S/RES/1244 (1999),2000.0,4230,60.0,-95.0,NaN,NaN,NaN
24,Canada,Serbia and Kosovo: S/RES/1244 (1999),2001.0,1538,60.0,-95.0,NaN,NaN,NaN
25,Canada,Serbia and Kosovo: S/RES/1244 (1999),2002.0,57,60.0,-95.0,NaN,NaN,NaN
26,Canada,Serbia and Kosovo: S/RES/1244 (1999),2003.0,55,60.0,-95.0,NaN,NaN,NaN
27,Canada,Serbia and Kosovo: S/RES/1244 (1999),2004.0,51,60.0,-95.0,NaN,NaN,NaN
28,Canada,Serbia and Kosovo: S/RES/1244 (1999),2005.0,44,60.0,-95.0,NaN,NaN,NaN
29,Canada,Serbia and Kosovo: S/RES/1244 (1999),2006.0,61,60.0,-95.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9195,NaN,NaN,NaN,NaN,NaN,NaN,Nauru,-0.5333,166.9167
9196,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands Antilles,12.2500,-68.7500
9197,NaN,NaN,NaN,NaN,NaN,NaN,New Caledonia,-21.5000,165.5000
9198,NaN,NaN,NaN,NaN,NaN,NaN,Niue,-19.0333,-169.8667
9199,NaN,NaN,NaN,NaN,NaN,NaN,Norfolk Island,-29.0333,167.9500
9200,NaN,NaN,NaN,NaN,NaN,NaN,Northern Mariana Islands,15.2000,145.7500
9201,NaN,NaN,NaN,NaN,NaN,NaN,Palau,7.5000,134.5000
9202,NaN,NaN,NaN,NaN,NaN,NaN,"Palestinian Territory, Occupied",32.0000,35.2500
9203,NaN,NaN,NaN,NaN,NaN,NaN,Pitcairn,-24.7000,-127.4000
9204,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico,18.2500,-66.5000
9205,NaN,NaN,NaN,NaN,NaN,NaN,Réunion,-21.1000,55.6000
9206,NaN,NaN,NaN,NaN,NaN,NaN,"Saint Helena, Ascension and Tristan da Cunha",-15.9333,-5.7000
9207,NaN,NaN,NaN,NaN,NaN,NaN,Saint Pierre and Miquelon,46.8333,-56.3333
9208,NaN,NaN,NaN,NaN,NaN,NaN,San Marino,43.7667,12.4167
9209,NaN,NaN,NaN,NaN,NaN,NaN,Serbia,44.0000,21.0000
9210,NaN,NaN,NaN,NaN,NaN,NaN,South Georgia and the South Sandwich Islands,-54.5000,-37.0000
9211,NaN,NaN,NaN,NaN,NaN,NaN,Svalbard and Jan Mayen,78.0000,20.0000
9212,NaN,NaN,NaN,NaN,NaN,NaN,Syrian Arab Republic,35.0000,38.0000
9213,NaN,NaN,NaN,NaN,NaN,NaN,"Taiwan, Province of China",23.5000,121.0000
9214,NaN,NaN,NaN,NaN,NaN,NaN,"Tanzania, United Republic of",-6.0000,35.0000
9215,NaN,NaN,NaN,NaN,NaN,NaN,Tokelau,-9.0000,-172.0000
9216,NaN,NaN,NaN,NaN,NaN,NaN,Turks and Caicos Islands,21.7500,-71.5833
9217,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,54.0000,-2.0000
9218,NaN,NaN,NaN,NaN,NaN,NaN,United States,38.0000,-97.0000
9219,NaN,NaN,NaN,NaN,NaN,NaN,United States Minor Outlying Islands,19.2833,166.6000
9220,NaN,NaN,NaN,NaN,NaN,NaN,"Venezuela, Bolivarian Republic of",8.0000,-66.0000
9221,NaN,NaN,NaN,NaN,NaN,NaN,"Virgin Islands, British",18.5000,-64.5000
9222,NaN,NaN,NaN,NaN,NaN,NaN,"Virgin Islands, U.S.",18.3333,-64.8333
9223,NaN,NaN,NaN,NaN,NaN,NaN,Wallis and Futuna,-13.3000,-176.2000
9224,NaN,NaN,NaN,NaN,NaN,NaN,Western Sahara,24.5000,-13.0000